body {
  background-color: black;
}

.title {
  width: 820px;
  height: 50px;
  margin: auto;
  border: 2px solid gray;
}

.level {
  color: #fff;
  font-size: 35px;
  font-family: Arial, sans-serif;
}

button {
  float: right;
  margin: 5px;
  margin-left: 1px;
  font-size: 30px;
  background-color: black;
  color: white;
}

.board {
  width: 820px;
  margin: auto;
  border: 2px solid gray;
}

.light {
  display: inline-block;
  width: 150px;
  height: 150px;
  margin: 5px;
  background-color: #2a2a2a;
  border: 2px solid #4a4a4a;
  transition: all 0.5s ease-in-out;
}

.on {
  background-color: #9ba300;
  border: 2px solid #b8c107;
  transition: all 0.5s ease-in-out;
}